/* Modal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 70%; /* 화면 너비의 90% */
    max-width: 700px; /* 최대 너비는 600px로 제한 */
    height: 40%;
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
  }
  
  .closeButton {
    align-self: flex-end;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }