.title {
    font-size: 1rem; /* 글자 크기 */
    font-weight: bold; /* 굵게 */
    color: #000000; /* 빨간색 */
    /* text-align: center; 중앙 정렬 */
    margin-bottom: 5px; /* 아래쪽 여백 */
    margin-left: 20px;
}