# Maven build directory
target/
*.log

# Eclipse IDE
.metadata/
.classpath
.project
.settings/


# IntelliJ IDEA
.idea/
*.iml
*.iws
.idea/caches/
.idea/libraries/
.idea/modules/
.idea/workspace.xml

# VS Code
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Other build files
*.jar
*.war
*.ear

# Other files to ignore
*.hprof
*.tmp
*.bak
*.swp

# 환경 변수 파일
.env

# Maven wrapper files
.mvn/

# application.properties 제외
src/main/resources/application.properties

# 무시할 META-INF 디렉토리
META-INF/
